body {
  margin: 0; }

.grid {
  width: 360px;
  height: 598px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(7, 1fr);
  background-color: greenyellow; }

header {
  grid-column: span 1;
  grid-row: span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  background-color: hotpink; }
  header h1 {
    grid-column: 2/3;
    grid-row: span 1;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-align: center; }

.slideshow {
  grid-row: span 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .slideshow img {
    grid-column: span 5;
    grid-row: span 3; }
  .slideshow button {
    color: black;
    background-color: transparent;
    border-color: transparent; }
    .slideshow button:active {
      color: black;
      background-color: transparent;
      border-color: transparent; }

.arrowleft {
  position: absolute;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-content: center;
  margin-left: 5px; }

.arrowright {
  position: absolute;
  grid-column: 5/6;
  grid-row: 2/3;
  align-self: center;
  justify-content: center;
  margin-left: 325px; }

button {
  color: white;
  align-self: center;
  text-align: center;
  background-color: black;
  border-radius: 9001px;
  font-size: 25px;
  border-style: solid;
  border-color: white;
  grid-column: span 1; }
  button:active {
    color: black;
    background-color: white;
    border-color: black; }

main a {
  align-self: center;
  text-align: center; }
main a:nth-of-type(1) {
  grid-row: 4/5; }
main a:nth-of-type(2) {
  grid-row: 5/6; }
main a:nth-of-type(3) {
  grid-row: 6/7; }

main {
  grid-column: span 1;
  grid-row: span 6;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: repeat(6, 1fr); }
