<main>
    <h3>Vad finns det för fördelar med att sälja min säl?</h3>
    <ul>
        <li>Du behöver inte längre ta hand om den.</li>
        <li>Du får betalt för den!</li>
        <li>Säkert något mer.</li>
    </ul>
    <h3>Vad kommer att hända med min säl?</h3>
        <p>Din säl kommer att tas hand om, det är allt du behöver veta.</p>
    <h3>Kan jag få tillbaka min säl?</h3>
        <p>Nej, när du väl har sålt den är den vår.</p>
</main>