<main>

    <img name="slide" width="360">

    <a href="#"><button>Sälj din Säl!</button></a>
    <a href="#"><button>Information</button></a>
    <a href="#"><button>Glada Säljare</button></a>
</main>

<script>
    var i = 0;
    var images = [];
    var time = 3000;

    images[0] = 'img/Awkward-Seal.jpg';
    images[1] = 'img/sealsnow.jpg';
    images[2] = 'img/nom.jpg';

    function changeImg(){
        document.slide.src = images[i];

        if(i < images.length-1){
            i++;
        } else {
            i = 0;
        }

        setTimeout("changeImg()", time);
    }

    window.onload = changeImg;

</script>