<main>
    <div class="slideshow">
        <img src="img/Awkward-Seal.jpg" alt="Seal-of-Fortune" title="Buy Me!" class="slide">
        <img src="img/sealsnow.jpg" alt="Snuw" class="slide">
        <img src="img/nom.jpg" alt="Omnomnom!" class="slide">
        <button onclick="slideshow()">Kellmepless</button>
    </div>
    <a href="#"><button>Sälj din Säl!</button></a>
    <a href="#"><button>Information</button></a>
    <a href="#"><button>Glada Säljare</button></a>
</main>
<script> src="js/slideshow.js"</script>