<main>
    <div class="slideshow">
        <button class="icon, arrowleft" onclick="changeImg(-1)"></button>
        <button class="icon, arrowright" onclick="changeImg(1)"></button>
        <img name="slide" width="360">
    </div>
    <a href="sell.html"><button>Sälj din Säl!</button></a>
    <a href="faq.html"><button>Information</button></a>
    <a href="sellers.html"><button>Glada Säljare</button></a>
</main>

<script>
    var i = 0;
    var images = [];

    images[0] = 'img/Awkward-Seal.jpg';
    images[1] = 'img/sealsnow.jpg';
    images[2] = 'img/nom.jpg';

    function changeImg(n){
        if(i > images.length-1){
            i = 0;
        } else if(i < 0) {
            i = images.length-1;
        }

        document.slide.src = images[i];

        if(((i + n) < images.length) || ((i + n) >= 0)){
            i += n;
        } else if((i + n) < 0) {
            i = images.length-1;
        } else {
            i = 0;
        }
        console.log(i)
    }

    window.onload = changeImg;

</script>