<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S채lj din S채l!</title>
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
    <div class="grid">
    <header>
        <h1>S채lj din S채l!</h1>
    </header>
    <%= yield %>
    </div>
</body>
</html>