<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <title>Sälj din Säl!</title>
</head>
<body>
    <div class="grid">
    <header>
        <a href="index.html"><button class="icon">HEM</button></a>
        <h1>Sälj din Säl!</h1>
        <a href="sell.html"><button class="icon">SÄLj</button></a>
    </header>
    <%= yield %>
    </div>
</body>
</html>