<main class="sellers">
    <div class="darken" onclick="toggleMenu()"></div>
    <div class="details" onclick="toggleMenu()"></div>
    <img src="img/sealler1.jpg" onclick="toggleMenu()">
    <img src="img/nom.jpg">
    <img src="img/sealsnow.jpg">
    <img src="img/Awkward-Seal.jpg">
</main>
<script src="js/details.js"></script>