button {
    color: #0D44FF;
    align-self: center;
    text-align: center;
    background-color: white;
    border-radius: 9001px;
    font-size: 25px;
    font-family: 'roboto';
    border-style: solid;
    border-color: #0D44FF;
    grid-column: span 1;

    &:active {
        color: white;
        background-color: #0D44FF;
        border-color: white;
    }
}

main {
    a {
        align-self: center;
        text-align: center;
    }
    a:nth-of-type(1) {
        grid-row: 4/5;
    }
    a:nth-of-type(2) {
        grid-row: 5/6;
    }
    a:nth-of-type(3) {
        grid-row: 6/7;
    }
}

button.icon {
    background-color: transparent;
    border-color: transparent;

    &:active {
        background-color: transparent;
        border-color: transparent;
    }
}

.slideshow {
    .arrowleft {
        width: 36px; height: 36px;
        background: url('../img/css_sprites.png') -66px -10px;
    }

    .arrowright {
        width: 36px; height: 36px;
        background: url('../img/css_sprites.png') -66px -66px;
    }
}

@media only screen and (min-device-width: 400px) {
    main {
        a:nth-of-type(1) {
            grid-column: span 1;
            grid-row: 1;
        }
        a:nth-of-type(2) {
            grid-column: span 1;
            grid-row: 1;
        }
        a:nth-of-type(3) {
            grid-column: span 1;
            grid-row: 1;
        }
    }
}