header {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    background-color: #0D44FF;

    h1 {
        grid-column: 2/5;
        grid-row: span 1;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        color: white;
    }

    a {
        margin-top: 20px;
        margin-left: 15px;
        width: 36px; height: 36px;
        background: url('../img/css_sprites.png') -10px -10px;
    }

    a:nth-of-type(2) {
        width: 36px; height: 36px;
        background: url('../img/css_sprites.png') -10px -66px;
    }
}

@media only screen and (min-device-width: 800px) {
    header {
        grid-column: span 2;

        h1 {
            font-size: 40px;
        }
    }
}

@media only screen and (min-device-width: 1000px) {
    header {
        grid-column: span 3;
    }
}