main {
    grid-column: span 1;
    grid-row: span 6;
    width: 100vw;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: repeat(6, 1fr);
    background-color: #00C0FF;
}

main.sell {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

main.faq {
    grid-template-columns: repeat(1, 1fr);
}

main.sellers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media only screen and (min-device-width: 400px) {
    main {
        grid-template-columns: repeat(3, 1fr)
    }
}