main {
    grid-column: span 1;
    grid-row: span 6;
    width: 100vw;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: repeat(6, 1fr);
    background-color: #00C0FF;
}

main.sell {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

main.faq {
    grid-template-columns: repeat(1, 1fr);
}

main.sellers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media only screen and (min-device-width: 400px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-device-width: 800px) {
    main {
        width: 70vw;
    }

    .slideshow {
        img {
            width: 70vw;
        }

        .arrowright {
            margin-left: 65vw;
        }
    }
}

@media only screen and (min-device-width: 1000px) {
    main {
        width: 50vw;
    }

    .slideshow {
        img {
            width: 50vw;
        }

        .arrowright {
            margin-left: 47vw;
        }
    }
}