.slideshow {
    grid-column: span 1;
    grid-row: span 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    img {
        grid-column: span 5;
        grid-row: span 3;
        width: 100vw;
        height: 43vh;
        object-fit: cover;
    }
}

.arrowleft {
    position: absolute;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-content: center;
    margin-left: 0vw;
    border-color: transparent;

    &:active {
    border-color: transparent;
    }
}

.arrowright {
    position: absolute;
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
    justify-content: center;
    margin-left: 90vw;
    border-color: transparent;

    &:active {
    border-color: transparent;
    }
}

@media only screen and (min-device-width: 400px) {
    .slideshow {
        grid-column: span 3;
        grid-row: span 5;

        img {
            height: 72vh;
        }
    }
    .arrowright {
        margin-left: 95vw;
    }
}